*{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}


/*Nav*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content:space-around; 
    padding: 20px;
    background-color: #03C03C;
    
   
}

.apos{
    color: #FF5733 ;
}
.nav-links{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li{
    margin: 0 30px;

    
}
.nav-links li:hover{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

header{
    width: 100%;
    height: 100vh;
    background-color:  #4590C9 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    
    text-align: center;
}

.header-content h2{
    font-size: 13vh;

}

.header-content h1{
    margin-bottom: 20px;
    
}

.line{
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
}

.ctn{
    padding: 8px 15px;
    background: black;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}



.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}



/*About*/

.about{
    background-color: #FF5733 ;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.about h2{
    text-align: center;
    color: white;
}

.myimg{
    height: 250px;
    width: 500px;
    max-width: 100%;
    object-fit: contain;
}

.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text h2{
    font-size: 65px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: white;
}

.text p{
    line-height: 28px;
    letter-spacing: 1px;
    color: white;
}

/*Projects*/


.image{
    max-height:100%; max-width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 30px;
    
}
#projects{
    background-color:  #03C03C;
    text-align: center;
    color: white;
    font-weight: bold;

}

#projects h1{
    font-size: 10vh;
    padding-top: 60px;
}

.flex-container{
    
    
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 5px;

}

.item{
    height: 40vh;
    width: 50vh;
    border: 2px  #4590C9  solid;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    background-color:  #4590C9 ;
}

.item p{
    padding-bottom: 30px;

}



/*Tech Stack*/

.tech-title{
    font-size: 10vh;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 30px;
}
.tech-stack{
    background-color: #4590C9;;
    min-height: 70vh;
    text-align: center;
    padding-top: 20px;
    color: white;
}



.tech-container{
       
    background-color: #4590C9;;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 5px;
}

.box{
    padding-top: 30px;
    height: 30vh;
    width: 30vh;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    color: white;

  
}

  .box:hover {
    transform: scale(1.2);
    cursor: pointer;
    border: 2px   #03C03C solid;
   
  }

  .box{
    transition: transform 330ms ease-in-out;

  }

/*Footer*/
footer{
    background-color:#FF5733 ;
    font-size: 20px;
}
footer a{
    color: black;
}


.contact-me{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}

.par{
    padding-top: 20px;
    display: flex;
align-items: center;}



/*Footer*/
footer {
    height: 30vh;
    text-align: center;
    padding-top: 50px;
}


/*Mobile Device*/

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #FF5733; 
        margin-top: -900px;
        transition: all 0.5s ease;

    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
    
}